@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i,800,800i&amp;subset=vietnamese');

header{
	padding-top: 30px;
}
.error-input{
	color:#ff0000;
}
.main-nav{
	margin: 30px 0;
}

#form-search-list{
	margin: 30px 0;
}
.wrap-pagination{
	text-align:center
}